{% extends 'base.html.twig' %}
{% block title %} Shipping Department - Listings {% endblock %}
{% block body %}

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>


    {% if(orders) %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Delivery Address</th>
                <th>BOX_ID</th>
                <th>state</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.shippingDetails }}</td>
                    <td>{{ order.id }}</td>
                    <td>
                        <span class="badge bg-primary">
                            {{ order.state }}
                        </span>
                    </td>
                    <td>{{ order.createdAt| format_datetime(pattern="yyyy-MM-dd 'at' hh:mm:ss") }}</td>
                    <td>
                        <a href="/shipping/order/{{ order.id }}/details" class="btn btn-dark">view details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>no orders</p>
    {% endif %}

    <br>



    <script>


    </script>
{% endblock %}