{% extends 'base.html.twig' %}
{% block title %}Management Departments -Order{% endblock %}
{% block body %}


    <div class="modal" tabindex="-1" role="dialog" id="readyToShip">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="$('#readyToShip').modal('hide')">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shipForm" method="POST" action="/order/status/update">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="status" value="ORDER_READY_TO_SHIP">
                        <input class="form-control" placeholder="Enter Box Id" name="box_id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#shipForm').submit()" class="btn btn-primary">Ship</button>
                    <button type="button" onclick="$('#readyToShip').modal('hide')" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="reportIssueModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report Issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="$('#reportIssueModal').modal('hide')">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="reportIssueForm" method="POST" action="/order/status/update">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="status" value="REPORT_ISSUE">

                        <select class="form-control" name="issue">
                            <option selected disabled>Select Issue</option>
                            <option>Item missing</option>
                            <option>Item damaged</option>
                            <option>Items mismatched</option>
                        </select>
                        <br>
                        <textarea rows="2" class="form-control" name="issue_text" placeholder="Text here..."></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#reportIssueForm').submit()" class="btn btn-primary">Report Issue</button>
                    <button type="button" onclick="$('#reportIssueModal').modal('hide')" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="shipOrderModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ship Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="$('#shipOrderModal').modal('hide')">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shipOrderForm" method="POST" action="/order/status/update" enctype="multipart/form-data">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="status" value="ORDER_SHIPPED">
                        <br>
                        <input type="text" class="form-control" placeholder="Shipping Company" name="shipping_company" />
                        <br>
                        <input type="text" class="form-control" placeholder="Shipping Tracking Number" name="shipping_tracking_number" />
                        <br>
                        <input type="file" class="form-control" placeholder="Shipping Company" name="shipping_label_url" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#shipOrderForm').submit()" class="btn btn-primary">Ship</button>
                    <button type="button" onclick="$('#shipOrderModal').modal('hide')" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="container bg-gray">
        <div class="row">
            <h2>Order # {{ order.id }}</h2>
        </div>

        <table class="table table-hover pointer-cursor">

            <tr>
                <td>Order at</td>
                <td>{{ order.createdAt| format_datetime(pattern="yyyy-MM-dd 'at' hh:mm:ss")  }}</td>
            </tr>

            <tr>
                <td>Total Price</td>
                <td>{{  order.total }}</td>
            </tr>

            <tr>
                <td>Total discount</td>
                <td>{{  order.discount }}</td>
            </tr>

            <tr>
                <td>Box Id</td>
                <td><span class="badge bg-info">{{  order.boxId }}</span></td>
            </tr>

            <tr>
                <td>Items</td>
                <td>
                    <ol>
                        {% for item in order.orderItems %}
                            <li> {{ item.item.name }} [{{ item.item.price }}] </li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>

            <tr>
                <td>Order State</td>
                <td>{{  order.state }}</td>
            </tr>

            {% if orderIssueLog != null %}
            <tr>
                <td>Order Issue</td>
                <td style="color: red"><b>[{{  orderIssueLog.issueTitle }}]</b> {{ orderIssueLog.issueValue  }}</td>
            </tr>
            {% endif %}



        </table>





        <div>
            <h4>Order History</h4>
            <table class="table table-hover">
                {% for log in orderLogHistory %}
                <tr>
                    <td>{{ log.createdAt|format_datetime(pattern="yyyy-MM-dd 'at' hh:mm:ss") }}</td>
                    <td>{{ log.state }}</td>
                    <td>
                        {% if log.state == "ORDER_RECEIVED" %}
                            Order #{{ log.order.id }} has been received by the system
                        {% elseif log.state == 'ORDER_PROCESSING' and log.issueTitle != null %}
                            Order #{{ log.order.id }} has been changed to PROCESSING by {{ log.admin.username }} ({{ log.admin.id }} with reason:
                        {{ log.issueTitle }} ({{ log.issueValue }})
                        {% elseif log.state == 'ORDER_PROCESSING' %}
                            Order #{{ log.order.id}} has been changed to PROCESSING by {{ log.admin.username }} ({{ log.admin.id }})
                        {% elseif log.state == 'ORDER_READY_TO_SHIP' %}
                            Order #{{ log.order.id }} has been changed to READY TO SHIP by {{ log.admin.username }} ({{ log.admin.id }}) with BOX_ID:
                        {{ log.order.boxId }}
                        {% elseif log.state == 'ORDER_SHIPPED' %}
                            Order #{{ log.order.id }} has been changed to SHIPPED by {{ log.admin.username }} ({{ log.admin.id }} with AWB: #{{ log.order.shippingTrackingNumber }} by
                        {{ log.order.shippingCompany }} [View Label]
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>




    </div>



{% endblock %}


{% block scripts %}

    <script>

        $("#ship").on("click",function() {
            $("#readyToShip").modal("show");
        })

        $("#reportItemsIssue").on("click",function() {
            $("#reportIssueModal").modal("show");
        })

        $("#shipOrder").on("click",function() {
            $("#shipOrderModal").modal("show");
        })

    </script>
{% endblock %}