{% extends 'base.html.twig' %}
{% block title %}Management Department - Listings {% endblock %}
{% block body %}

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div>
        Filter:
        <form method="GET">

            <div class="row">

                <div class="col-md-3">
                    <select name="len" class="form-control form-control-sm">
                        <option>5</option>
                        <option>10</option>
                        <option>100</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <select name="state" class="form-control form-control-sm">
                        <option disabled selected>Select State</option>
                        <option>ORDER_RECEIVED</option>
                        <option>ORDER_CANCELED</option>
                        <option>ORDER_PROCESSING</option>
                        <option>ORDER_READY_TO_SHIP</option>
                        <option>ORDER_SHIPPED</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <input name="order_id" value="" placeholder="order Id" class="form-control form-control-sm">
                </div>

                <div class="col-md-2">
                    <div style="text-align: center;">
                        <button class="btn btn-primary">search</button>
                    </div>
                </div>


            </div>
        </form>
    </div>




    <br>
    <br>


    {% if(orders) %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Delivery Address</th>
                <th>BOX_ID</th>
                <th>state</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.shippingDetails }}</td>
                    <td>{{ order.id }}</td>
                    <td>
                        <span class="badge bg-primary">
                            {{ order.state }}
                        </span>
                    </td>
                    <td>{{ order.createdAt| format_datetime(pattern="yyyy-MM-dd 'at' hh:mm:ss") }}</td>
                    <td>
                        <a href="/management/order/{{ order.id }}/details" class="btn btn-dark">view details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>no orders</p>
    {% endif %}

    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% if pagination["len"] < pagination["total_count"] %}
                {% for key,i in range(1,pagination["total_count"],pagination["len"]) %}
                    <li class="page-item"><a class="page-link" href="{{ path(app.request.attributes.get('_route'),
                            app.request.query.all|merge({'page': key+1})) }}">{{ key+1 }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>



    <script>


    </script>
{% endblock %}