{% extends 'base.html.twig' %}
{% block title %}Picking Departments -Order{% endblock %}
{% block body %}


    <div class="modal" tabindex="-1" role="dialog" id="readyToShip">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="$('#readyToShip').modal('hide')">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shipForm" method="POST" action="/picking/order/make-ready-to-ship">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input class="form-control" placeholder="Enter Box Id" name="box_id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#shipForm').submit()" class="btn btn-primary">Ship</button>
                    <button type="button" onclick="$('#readyToShip').modal('hide')" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <div class="container bg-gray">
        <div class="row">
            <h2>Order # {{ order.id }}</h2>
        </div>

        <table class="table table-hover pointer-cursor">

            <tr>
                <td>Order at</td>
                <td>{{ order.createdAt| format_datetime(pattern="yyyy-MM-dd 'at' hh:mm:ss")  }}</td>
            </tr>

            <tr>
                <td>Total Price</td>
                <td>{{  order.total }}</td>
            </tr>

            <tr>
                <td>Total discount</td>
                <td>{{  order.discount }}</td>
            </tr>


            <tr>
                <td>Items</td>
                <td>
                    <ol>
                        {% for item in order.orderItems %}
                            <li> {{ item.item.name }} [{{ item.item.price }}] </li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>

            <tr>
                <td>Order State</td>
                <td>{{  order.state }}</td>
            </tr>

            {% if orderIssueLog != null %}
            <tr>
                <td>Order Issue</td>
                <td style="color: red"><b>[{{  orderIssueLog.issueTitle }}]</b> {{ orderIssueLog.issueValue  }}</td>
            </tr>
            {% endif %}



        </table>


        {% if order.state == "ORDER_RECEIVED" %}
            <div style="text-align: center; margin-top: 10px;">
                <form method="post" action="/picking/order/process">
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <button class="btn btn-primary"> Picking Products </button>
                </form>
            </div>
        {% endif %}


        {% if order.state == "ORDER_PROCESSING" %}
            <div style="text-align: center; margin-top: 10px;">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#readyToShip" id="ship">ready to ship</button>
            </div>
        {% endif %}








    </div>



{% endblock %}


{% block scripts %}

    <script>

        $("#ship").on("click",function() {
            $("#readyToShip").modal("show");
        })

        $("#reportItemsIssue").on("click",function() {
            $("#reportIssueModal").modal("show");
        })

        $("#shipOrder").on("click",function() {
            $("#shipOrderModal").modal("show");
        })

    </script>
{% endblock %}